/***********************************************************************************/
/* CSS Buttons */
/***********************************************************************************/

// Button Container Layout

.button-container {
	margin: 0;

	&--left {
		text-align: left;
		margin-right: auto;
	}

	&--center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	&--right {
		text-align: right;
		margin-left: auto;
	}

	&--text {
		margin: rem(6) 0;
	}
}

// Button Styles

a.btn, input.btn, form .nf-form-content input[type=button] {
	border: 1px solid transparent;
	border-radius: 0;
	display: inline-block;
	@include secondary-font;
	font-size: rem(17);
	letter-spacing: normal;
	line-height: 1em;
	min-width: 150px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.25s ease-in-out, border 0.25s ease-in-out, background 0.25s ease-in-out;
	-webkit-appearance: none;

	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
}

// Sizing

a.btn.btn--sm, input.btn.btn--sm {
	font-size: rem(15);
	padding: em(8) rem(16);
}

//a.btn.btn--norm, input.btn.btn--norm {
//	font-size: rem(16);
//	padding: em(18) rem(20);
//}

a.btn.btn--lg, input.btn.btn--lg {
	font-size: rem(24);
	padding: em(12) rem(24);
}

// Regular Button Styles 1 thorugh 6

a.btn--primary, input.btn--primary, a.btn--one, input.btn--one {
	color: $primary;
	background-color: $white;
	border-color: $white;
	border-radius: 10px;
	font-size: rem(17);
	padding: em(15) rem(20);

	&:hover {
		background-color: $secondary;
		border-color: $secondary;
		color: $white;
	}
}

a.btn--secondary, input.btn--secondary, a.btn--two, input.btn--two,  {
	color: $primary;
	background-color: $grey-100;
	border-color: $grey-100;
	border-radius: 30px;
	padding: rem(10) rem(15);
	font-size: rem(15);


	&:hover {
		background-color: $secondary;
		border-color: $secondary;
		color: $white;

	}
}

a.btn--tertiary, input.btn--tertiary, a.btn--three, input.btn--three, form .nf-form-content input[type=button] {
	color: $white;
	background-color: $secondary;
	border-color: $secondary;
	font-size: rem(17);
	padding: em(18) rem(20);
	border-radius: 10px;


	&:hover {
		background-color: $grey-300;
		border-color: $grey-300;
		color: $white;
	}
}
// Arrow Buttons - Coming Soon

.arrow-btn {
	font-size: rem(18);
	position: relative;
	padding-bottom: rem(10);
	@include opensans-bold;

	&:after {
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		content: ">";
		font-size: 1.15em;
		padding-left: rem(5);
		position: relative;
		top: 1px;
		transition: padding 0.25s ease;
		padding-right: 4px;
	}
	&:before {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		transition: .3s ease;
	}
}

.arrow-btn--one {
	color: $white;
	&:before {
		background-color: $white;
	}

	&:hover {
		color: $secondary;
		&:before {
			background-color: $secondary;
		}
	}
}

.arrow-btn--two {
	color: $primary;
	&:before {
		background-color: $primary;
	}

	&:hover {
		color: $secondary;
		&:before {
			background-color: $secondary;
		}
	}
}
.download-button {
	.elementor-button-link {
		width: 100%;
		text-align: left;
		i {
			&:before {
				color: $secondary;
			}
		}
	}
}
.fa-button {
	a {
		&:after {
			display: inline-block;
			font-family: "Font Awesome 5 Brands";
			content: '\f39e';
			font-weight: 400;
			font-size: 18px;
			color: $white;
			margin-left: 20px;
		}
	}
	.elementor-button-content-wrapper {
		display: inline-block;
	}
}
