/***********************************************************************************/
/* Elementor Over-Rides */
/***********************************************************************************/

.elementor-widget {
	
	p:last-child {
		margin-bottom: 0;
	}

}