/***********************************************************************************/
/* Form Fields, Inputs, Textareas (NOT IN THE WP Editor) */
/***********************************************************************************/


//Gravity Form
.gfield_required.gfield_required_asterisk {
	color: $grey-400;
}
.gform_wrapper.gravity-theme .gfield_label {
	@include secondary-font;
	font-size: rem(15);
	color: $grey-400;
}
.gform_wrapper.gravity-theme .gform_footer input {
	color: $white;
	background-color: $secondary;
	border: 1px solid $secondary;
	font-size: rem(17);
	padding: em(12) rem(20);
	border-radius: 10px;
	@include secondary-font;
	&:hover {
		background-color: $grey-300;
		border-color: $grey-300;
		color: $white;
	}
}
.newsletter-form {
	.gform_footer {
		text-align: center;
	}
}
form {

	label {
		display: block;
		margin-bottom: .5em;
	}

	input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea {
		display: inline-block;
		width: 100%;
		font-size: 16px;
		transition: border 0.25s;
		-webkit-appearance: none;
		border-radius: 0;
		border: none;
		background-color: $white;
		color: $grey-400;
		padding: rem(18);
		@include secondary-font;
		height: 45px;

		&:focus {
			border-color: $grey-100;
		}
	}

	textarea {
		resize: vertical;
	}

	select {
		display: block;
		width: 100%;
		height: 40px;
		font-size: 16px;
		appearance: none;
		height: 55px;
		padding-left: rem(18);
		border-radius: 0;
		border-color: #f1f1f1;
		background-color: #F1F1F1;
		color: $grey-400;
		//background-image: url('images/select-caret.svg');
		//background-position: 96% 50%;
		background-repeat: no-repeat;

		&:hover {
			cursor: pointer;
		}

		&:focus {
			outline: none;
			border-color: $grey-100;
		}
	}

	select::-ms-expand {
		display: none;
	}

	@include placeholders($grey-400);
}

