/***********************************************************************************/
/* Quotes */
/***********************************************************************************/

.testimonials {
	padding-top: rem(65);
	padding-bottom: rem(65);

	&__container {
		width: 100%;
		position: relative;
		max-width: calc(100% - 135px);
		margin-left: auto;
		margin-right: auto;

		@include ipad-portrait {
			max-width: 95%; 
		}
	}

	&__slider {
		display: none;
		padding-bottom: rem(30);
	}

	.quote-element {
		text-align: center;
		position: absolute;
		top: -29px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.slide-arrow {
		font-size: rem(42);
		color: $primary;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 100;

		@include ipad-portrait {
			display: none; 
		}

		&--prev {
			left: 40px;

			@include ipad-landscape {
				left: 20px; 
			}
		}

		&--next {
			right: 40px;

			@include ipad-landscape {
				right: 20px; 
			}
		}
	}

	.slick-track {
		display: flex !important;
		align-items: center;

		@include ipad-portrait {
			align-items: flex-start; 
		}
	}

	ul.slick-dots {
		margin: auto;
		text-align: center;
		position: static;
	}

}

.testimonials__slider.slick-initialized {
	display: block;
}

.quote, .quote-single {
	padding: 0 rem(20);

	&:focus {
		outline: 0;
	}

	&__inside {
		max-width: 878px;
		margin: auto;
		text-align: center;
		padding-top: rem(95);
		padding-bottom: rem(48);
	}

	&__content {
		text-align: center;

		p {
			font-size: rem(22);
			line-height: rem(32);
			color: $primary;
			max-width: 756px;
			margin-left: auto;
			margin-right: auto;
			font-style: italic;

			&:first-child {
				margin-top: 0;
			}

			@include ipad-portrait {
				font-size: rem(18);
			}

			@include portrait-mode {
				font-size: rem(16);
			}
		}
	}

	&__author {
		margin: rem(30) 0 0 0;
	
		p {
			color: $primary;
			margin-bottom: 0;
		}
	}
}

.dots-holder {
	@include push(2);

	@include portrait-mode {
		@include push(0);
	}
}
