//Categories Widget
.widget_product_categories {
  h5 {
    color: $white;
    background-color: $primary;
    padding: rem(20);
    font-size: rem(34);
    margin-bottom: 3px;
  }

  .product-categories {
    background-color: $grey-100;
    margin: 0;
    padding: 0 rem(25);

    li {
      list-style: none;
      border-bottom: 1px solid $grey-300;
      position: relative;

      &:last-child {
        border: none;
      }

      a {
        padding: rem(20) 0;
        font-size: rem(18);
        color: $black;
        display: flex;
        justify-content: space-between;

        &:after {
          content: '\f078';
          display: inline-block;
          font-family: "Font Awesome 5 Pro";
          font-weight: 400;
          margin: 0 rem(15);
        }

        &:hover {
          color: $primary;
        }
      }

      &.current-cat {
        > a {
          font-weight: 700;

          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }

    .children {
      li {
        border: none;
      }

      a {
        padding: rem(5) 0;
        justify-content: flex-start;

        &:before {
          content: '\f068';
          display: inline-block;
          font-family: "Font Awesome 5 Pro";
          font-weight: 400;
          margin-right: rem(5);
          color: $grey-300;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}

//archive Categories Blocks
.elementor-grid.products {
  .product-category {
    position: relative;

    img {
      object-fit: cover;
      height: 360px !important;
    }

    .woocommerce-loop-category__title {
      position: absolute;
      bottom: 45px;
      left: 0;
      background-color: $primary;
      width: 80%;
      padding: rem(15) !important;

      &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        content: '\f054';
        font-size: rem(20);
        padding: rem(10);
        background-color: $secondary;
        border-radius: 20px 0 0 0;
      }
    }
  }
}

.woocommerce-result-count {
  @include handicraft;
  font-size: rem(28);
  color: $primary;
  position: relative;
  z-index: 1;
  margin-left: 10px !important;
}

.woocommerce-ordering {
  position: relative;
  z-index: 1;
  margin-right: rem(10) !important;

  & select {
    background-color: $white;
    margin-right: rem(10);
  }
}

.shop-listing {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: $grey-100;
  }
}

table.variations {
  .label {
    display: none;
  }
}

#set {
  border: 1px solid #AFBAC6;
}

table.variations {
  position: relative;

  &:before {
    display: inline-block;
    content: 'Choose an option';
    margin-bottom: rem(15);
    color: $primary;
    font-size: rem(16);
    font-weight: 600;
  }

  &:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    content: '\f078';
    font-size: 17px;
    color: $primary;
  }
}

.single_variation_wrap {
  .woocommerce-Price-amount {
    font-size: 40px;
    color: $secondary;
    margin-bottom: rem(60);
    display: inline-block;
  }

  .quantity {
    position: relative;

    &:before {
      position: absolute;
      top: -30px;
      left: 0;
      content: 'Quantity';
      font-size: rem(16);
      color: $primary;
      margin-bottom: rem(15);
      font-size: rem(16);
      font-weight: 600;
    }

  }
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    background: $primary;
  &:before{
    border: 2px solid $white;
  }
  &:after {
    background: $white;
  }
}

.elementor-widget-woocommerce-product-additional-information {
  .woocommerce-product-attributes {
    border: none !important;
  }

  table.shop_attributes td {
    border: none !important;
  }

  .woocommerce-product-attributes-item__label, .woocommerce-product-attributes-item__value {
    background: transparent !important;
    border: none !important;
  }

  .woocommerce-product-attributes-item__label {
    text-align: left;
    color: $primary;
  }
}

.product-cats {
  .product-categories {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    h5 {
      position: relative;
      display: flex;
      justify-content: space-between;
      &:after {
        display: inline-block;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        content: '\f067';
        font-size: rem(32);
      }
    }
  }
}
.woocommerce-message {
  margin-top: rem(40);
}
.reset_variations {
  i {
    margin-right: rem(10);
    color: $red;
  }
}
.out-of-stock {
  margin-bottom: rem(30) !important;
}
.outofstock-badge {
  position: absolute;
  color: $white;
  background-color: $red;
  font-size: rem(12);
  height: 50px;
  width: 120px;
  left: -40px;
  top: -8px;
  right: auto;
  padding: rem(30) 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.woocommerce-LoopProduct-link {
  overflow: hidden;
}
.eael-woo-product-carousel .outofstock {
  display: none;
}


