/***********************************************************************************/
/* All PAGES */
/***********************************************************************************/

// Page Structure
.full-wrapper {
	background: $white;
	overflow: hidden;

	@include ipad-landscape {
		padding-top: 0;
	}
}

.container {
	@include container();
	@include clearfix;
	clear: both;

	@media screen and (max-width: $desktop-min) {
		max-width: 90%;
	}
}

.wide-container {
	max-width: 1400px;
	margin: auto;

	@media screen and (max-width: $desktop-min) {
		max-width: 90%;
	}
}

.row {
	@include clearfix;
	clear: both;
}

.table {
	display: table;
	margin: 0 auto;
}

section {
	clear: both;
}

.wow {
  visibility: hidden;
}
.two-col {
	columns: 2;
}
/***********************************************************************************/
/* Social Icons Global */
/***********************************************************************************/

.social-icons {
	margin: 0;
	padding: 0;
	margin-top: rem(10);
	display: flex;
	flex-wrap: wrap;

	@include ipad-landscape {
		justify-content: center;
	}

	li {
		list-style: none;
		flex-shrink: 0;
		margin: 0;
		margin-right: 15px;

		@include ipad-landscape {
			margin: 0 5px;
		}
	}

	a {
		display: block;
		color: $primary;
		font-size: rem(28);
		transition: color 0.3s ease-in-out;

		@include ipad-landscape {
			font-size: rem(22);
		}

		&:hover {
			color: $secondary;
		}
	}
}

/***********************************************************************************/
/* Featured Posts Module */
/***********************************************************************************/

.featured-posts {
	padding-bottom: rem(60);

	&__header {
		display: flex;
		flex-flow: row wrap;
		align-items: center;

		@include portrait-mode {
			flex-direction: column nowrap;
		}

		h2 {
			margin-bottom: 0;
			color: $primary;
		}

		a {
			margin-left: auto;

			@include portrait-mode {
				display: none;
			}
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-top: rem(36);

		@include ipad-portrait {
			.blog-post {
				&:nth-child(3n) {
					display: none;
				}
			}
		}

		@include portrait-mode {
			.blog-post {
				margin-bottom: 0;
			}
			.blog-post {
				&:nth-child(2n) {
					display: none;
				}
			}
		}
	}

	&__button-mobile {
		display: none;

		@include portrait-mode {
			display: block;
			text-align: center;
			margin-top: rem(20);
			margin-bottom: rem(35);
		}
	}
}
.faq-accordion {
	.elementor-tab-title {
		@media screen and (max-width: 768px) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}
	i {
		@media screen and (max-width: 768px) {
			font-size: rem(24);
		}
	}
}
/***********************************************************************************/
/* BLOG*/
/***********************************************************************************/
.blog-cat__heading {
	color: $primary;
	border-bottom: 1px solid $secondary;
	padding-bottom: rem(10);
}
.cat_wrapper {
	display: flex;
	flex-direction: column;
	.blog-cat {
		font-size: rem(18);
		margin: rem(10) 0;
		&.active-cat {
			font-weight: 700;
		}
	}
}
/***********************************************************************************/
/* 404 Page */
/***********************************************************************************/

.error-page {
	padding: rem(60) 0;

	@include ipad-portrait {
		padding: rem(40) 0;
	}
}

/***********************************************************************************/
/* Register */
/***********************************************************************************/
.register-wrap {
	margin: 100px 0;
	h2 {
		color: $primary;
		margin-bottom: rem(40);
	}
	form input {
		background-color: #edf0f2;
	}
	input[type='submit'] {
		display: inline-block;
		font-family: "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 1.0625rem;
		letter-spacing: normal;
		line-height: 1em;
		min-width: 150px;
		overflow: hidden;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.25s ease-in-out, border 0.25s ease-in-out, background 0.25s ease-in-out;
		-webkit-appearance: none;
		color: $white;
		background-color: $secondary;
		border-radius: 10px;
		padding: 0.9375em 1.25rem;
		border: none;
		cursor: pointer;
		&:hover {
			background-color: $primary;
		}
	}
}
.rcp_login_link a {
	font-weight: bold;
	font-size: rem(22);
}
.rcp_registration_total {
	margin-bottom: rem(15);
}
