/***********************************************************************************/
/* Homepage ONLY */
/***********************************************************************************/
.home-supplies {
  & .elementor-image-box-content {
    padding: 0 rem(35);
  }
}
.latest-news {
  .elementor-post__thumbnail {
    position: relative;
    &:after {
    	position: absolute;
    	content: '';
    	top: 0;
    	left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($primary, .68);
      opacity: 0;
      transition: .3s ease;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
  .elementor-post__badge {
    margin-left: 6% !important;
  }
  .elementor-post__read-more {
    position: relative;
    padding-bottom: 10px;
    &:after {
    	position: absolute;
    	content: '';
    	bottom: 0;
    	left: 0;
        width: 100%;
        height: 2px;
    }
  }
  &__single {
    .elementor-post__read-more {
      &:after {
      background-color: $white;
      }
      &:hover {
        color: $secondary !important;
        &:after {
          background-color: $secondary;
        }
      }
    }
    .elementor-post__text {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .elementor-post__thumbnail__link {
      margin-bottom: 0;
    }
  }
  &__double {
    .elementor-post__read-more {
      &:after {
        background-color: $primary;
      }
      &:hover:after {
        background-color: $secondary;
      }
    }
    .elementor-post__thumbnail__link {
      margin-bottom: 0;
    }
      .elementor-post__card {
        flex-direction: row !important;
      }
    .elementor-post__thumbnail__link {
      width: 35%;
    }
    .elementor-post__text {
      width: 65%;
    }
    .elementor-post__thumbnail {
      padding-bottom: rem(190) !important;
    }
  }
}
